@font-face {
  font-family: "proxima-nova";
  src: url(/fonts/proxima-nova.otf) format("opentype");
  src: url(/fonts/proxima-nova.eot) format("embedded-opentype"),
       url(/fonts/proxima-nova.ttf) format("truetype");
}

body {
  font-family: 'proxima-nova', serif;
}

.navbar-default {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: transparent;
  z-index: 2;
  border: 0;
  border-radius: 0;
  padding: 10px 0;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}
.navbar-default .navbar-brand {
  color: #fff;
  font-weight: 700;
  font-size: 28px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}
.btn-yellow {
  background-color: #f6b036;
  color: #fff;
}
.btn-yellow:hover,
.btn-yellow:focus {
  color: #fff;
  outline: 0;
  background-color: #f5a61e;
}
.banner {
  position: relative;
  padding: 100px 0;
  min-height: 100vh;
  background: #41295a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #41295a , #2F0743); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #41295a , #2F0743); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.banner::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto 0;
  background: url('../images/hero.png') no-repeat center center/90%;
  opacity: 0.6;
}
.banner-message {
  position: relative;
  z-index: 2;
}
.banner-message {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.banner-message h1 {
  color: #fff;
  font-size: 45px;
  font-weight: 400;
}
.banner-message p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 25px;
}
.btn-hero {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  padding: 15px 25px;
  border-radius: 2px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0 2px 2px rgba(0,0,0,.3);
}
.banner-message .btn-hero {
  width: 220px;
}
.signup-wraper {
  width: 100%;
  background-color: #41295a;
  padding: 30px 40px 50px 40px;
  z-index: 2;
}
.signup-wraper .box {
  max-width: 600px;
  margin: 0 auto;
}

.signup-email-wraper::after,
.signup-email-wraper::before {
  content: '';
  display: table;
}
.signup-email-wraper::after {
  clear: both;
}
.signup-email-field {
  overflow: hidden;
  padding-right: 15px;
}
.signup-email-field .form-control {
  height: 44px;
  line-height: 44px;
  padding: 0 15px;
  border-radius: 2px;
}
.signup-email-field .form-control:focus {
  box-shadow: none;
  border-color: #f1f1f1;
}
.signup-email-wraper .btn-email {
  font-size: 16px;
  font-weight: 600;
  width: 150px;
  padding: 10px 12px;
  float: right;
  border-radius: 2px;
}
.signup-wraper h2 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
}
.container-sm {
  max-width: 980px;
  width: 100%;
}
.main-footer {
  padding: 20px 0;
  border-top: 1px solid #ddd;
}
.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
.footer-nav > li {
  display: inline-block;
}
.footer-nav > li > a {
  display: block;
  padding: 8px;
  color: #777;
}
.footer-nav > li > a:hover,
.footer-nav > li > a:focus {
  color: #f5a61e;
}
.copy-right {
  color: #666;
  margin-bottom: 0;
  padding: 8px 0;
}
.proposition {
  padding: 60px 0;
}
.proposition-item {
  text-align: center;
  padding: 15px;
}
.proposition-item img {
  display: block;
  margin: 0 auto 10px;
  width: 100px;
  height: 100px;
  -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
    filter: grayscale(60%);
}
.proposition-item h4 {
  color: #262728;
  font-size: 24px;
}
.proposition-item p {
  font-size: 16px;
  color: #808284;
  line-height: 1.625;
}
.head-line {
  font-weight: 300;
  margin: 30px 0;
  font-size: 44px;
}
.divider {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid #e5e7e9
}
.how-it-works-wraper {
  padding: 10px 0;
}
.step-item {
  padding-top: 40px;
  padding-bottom: 40px;
}
.step-item-img {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 4px;
}
.step-item-message h4 {
  font-weight: 400;
  font-size: 26px;
  color: #262728;
  margin-top: 0;
}
.step-item-message p {
  color: #808284;
  font-size: 16px;
}
