<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">
    {% include /header.html %}

    <!-- Banner -->
    <div class="banner">
      <div class="banner-message">
        <h1>Enterprise mobility made easy</h1>
        <p>An easy way to integrate enterprise applications to workplace tool <br> (email, slack, or chat) using push notifications.  </p>
      </div>

      <div class="signup-wraper" id="signup">
        <h2>We are currently in private beta, sign up to get access.</h2>
        <form action="https://tinyletter.com/pushcomputing" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/pushcomputing', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
          <div class="signup-email-wraper">
            <button type="submit" name="button" class="btn btn-yellow btn-email">SIGNUP</button>
            <div class="signup-email-field">
              <input type="hidden" value="1" name="embed"/>
              <input type="text" name="email" value="" class="form-control" placeholder="Enter your email">
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- End -->

    {{ content }}

    {% include /footer.html %}
    {% include /segment.html %}
  </body>
</html>
